#columnSection {
	margin: 0;
    overflow: scroll;
    width:  240% !important;
    border: 1px solid;
    display: block !important;
    position: relative !important;
	top: 10vh;
}

#columnSection.post-container .post-item {
    /*width: calc(99.99% * 1/2- 120px);*/
    margin-left: 35px;
    margin-right: 35px;
    float: left !important;
    width: 240px !important;
    /*border: 1px solid;*/
}

/*#indexSection {
	padding-top: 60px;
    height: auto;
    overflow: visible;
    margin-bottom: 0px;
    border-top: 1px solid rgba(0,0,0,0.2);
}
 #indexSection.post-container .post-item {
    width: calc(15.99% * 1/1 - 120px);
    margin-left: 60px;
    margin-right: 60px;
 }*/


  ::-webkit-scrollbar {
    display: none;
  }