#indexSection {
    overflow-x: scroll;
    overflow-y: hidden;
    width:  310% !important;
    height: 65vh;
    /*border: 1px solid;*/
    display: block !important;
	margin-top: 16vh;
}

#indexSection.post-container .post-item {
    /*width: calc(99.99% * 1/2- 120px);*/
    margin-left: 50px;
    margin-right: 50px;
    padding: 0 10px;
    /*float: left !important;*/
    width: 300px !important;
    /*border: 1px solid;*/
    overflow-y: scroll !important;
    height: 70vh;
}


::-webkit-scrollbar {
display: none;
}


