
#screensaver {
    display: none;
	  background-color: transparent;
}
#screensaver.starting {
  background-color: transparent;
}
#screensaver.starting,
#screensaver.active {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
#screensaver .item {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-image: url(fragments/1-4.png);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#screensaver .item.active {
  opacity: 1;
}